@charset "ISO-8859-1";

.buy-img {
	width: 500px;
	height: 500px;
}

.container-img {
	border: 1px solid #ccc;
	margin-right: 50px;
}

.container-infor {
    padding: 50px;
    border: 1px solid #ccc;
}

.container-infor .container-title {
    color: #333;
}

.container-infor form {
    margin-top: 20px;
}

.container-infor select, .container-infor th {
    margin-bottom: 10px;
}

.container-infor .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.container-infor .text-center .m-3, .container-infor .text-center .btn {
    margin: 3px;
}

.cotain-product-rel {
	margin-left: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container {
	display: flex;
	justify-content: center;
 	margin-top: 30px;
 	margin-bottom: 30px;
}

.msg {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.image-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 50px;
}

.card {
    max-width: 150px; 
    margin-right: 20px; 
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card-title a {
	color: black;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 5px;
}

.title-product-rel {
	font-weight: 600;
    font-style: oblique;
}	