@charset "ISO-8859-1";
#brand-name{
	color: black;
	width: 50px;
	font-size: 20px;
}

#space {
	font-size: 20px;
}

.product-name {
	width: 40px;
	padding-top: 5px;
	font-weight: 500;
	text-decoration: underline;
}

.content-container {
    width: 100%; /* Sử dụng 100% để đảm bảo linh hoạt */
    max-width: 400px; /* Đặt giá trị max-width để tránh quá mức khi màn hình lớn */
    height: auto; /* Sử dụng auto để chiều cao tự động thích ứng với nội dung */
    margin-left: 15px;
    border: 1px solid rgb(0, 0, 0); /* Thêm đường viền để kiểm tra kích thước */
    box-sizing: border-box; /* Đảm bảo kích thước chính xác tính cả border */
}

.container{
	margin-bottom: 30px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: black;
	border-radius: 50%;
	align-content: center;
	transform: scale(0.8);
}

.product-rel {
	margin-top: 10px;
}

.cotainer-size {
	width: 200px;
	height: 70px;
}

.cotainer-brand {
	width: 400px;
	height: 40px;
}

.empty {
	height: 10px;
}

.title-label {
	color: #198754;
	width: 15%;
	margin: 5px;
	font-weight: 600;
}

.list-size, .description {
	height: 30px;
	width: 80%;
}

.pr-details {
	width: 300px;
}

.color{
	width: 100%;
	height: 152px;
	padding: 20px;
	background-color:  #242424;
}

.slider-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

.carousel-inner {
     display: flex;
     transition: transform 0.5s ease-in-out;
        }
        
.prev-button,
.next-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
            border: none;
            background: none;
            outline: none;
        }

.prev-button {
         left: 10px;
       }

.next-button {
        right: 10px;
      }

.carousel-inner {
    overflow: hidden;
}

.prev-button,
.next-button {
    font-size: 1rem;
}

.carousel-item {
    text-align: center;
}

.carousel {
	width: 600px;
	display: flex;
	justify-content: center;
	}

.carousel-item img {
    width: 400px !important;
    height: 350px; 
    object-fit: contain; 
	margin-left: 75px;
}

.contain {
	margin-left: 70px;
}

.btn-buy {
	margin-right: 10px;
}

.container-price{
	width: 50px;
	margin-bottom: 15px
}

.image-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 50px;
}

.card {
    max-width: 150px; 
    margin-right: 20px; 
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card-title a {
	color: black;
	text-decoration: none;
	margin-top: 5px;
	margin-left: 5px;
}

.title-product-rel {
	font-weight: 600;
    font-style: oblique;
}	
      
        
        




