<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>product</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/one-brand.css">
</head>

<body>
	<section>
		<div class="container mt-4">
			<!-- Slider and Products -->
			<h3 class="text-center" style="font-weight: 700;">
				[[${brand}]]
			</h3>
			<div class="row">
				<div class="col-lg-3">
					<div class="list-group ">
						<a th:each="table_brand : ${table_brands}" class="list-group-item list-group-item-action"
							th:href="'/brand?brandname=' + ${table_brand}" th:text="${table_brand}">
						</a>

					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<th:block th:each="sanPham : ${products}">
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card h-100 ">
									<a th:href="'/detail-product?id=' + ${sanPham.getP().getId()}"><img class="card-img-top"
											th:src="${sanPham.getPic()}" alt=""></a>
									<div class="card-body">
										<p class="card-title product-name">
											<a th:href="'/detail-product?id=' + ${sanPham.getP().getId()}" th:text="${sanPham.getP().getTen_san_pham()}">
											</a>
										</p>
										<h5 th:text="${sanPham.getP().getGiaban()} + ' $'">
										</h5>
										<p class="card-text" th:text="${sanPham.getP().getMota()}">
										</p>
										<th:block th:if="${sanPham.getP().getSoluong() > 0}">
										<p class="card-text">
											Number-of: <span class="card-text"
												th:text="${sanPham.getP().getSoluong()}"></span>
										</p>
										</th:block>
										<th:block th:if="${sanPham.getP().getSoluong() == 0}">
										<p class="card-text" style="color: red;">
											Out Of Stock </span>
										</p>
										</th:block>
									</div>
									<form action="detail-product" method="get">
										<div class="btn-container">
											<input type="hidden" th:value="${sanPham.getP().getId()}" name="id">
											<input type="submit" value="Buy" class="btn btn-success">
											<th:block th:if="${user != null}">
												<th:block th:if="${user.getRoles() == 'ROLE_ADMIN'}">
													<input type="button" value="Edit" class="btn btn-secondary btn-edit" th:data-id="${sanPham.getP().getId()}">
												</th:block>
											</th:block>
										</div>
									</form>
									<div class="card-footer">
										<small class="text-muted">&#9733; &#9733; &#9733;
											&#9733; &#9734;</small>
									</div>
								</div>
							</div>
						</th:block>
					</div>


					<!-- End Products -->
				</div>
			</div>
			<!-- End Slider and Products -->
		</div>
		
		<!-- nav skip -->
							<div class="nav-paging">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item"><a class="page-link"
												th:href="'/brand?p=0&brandname=' + ${name}">First</a></li>
										<li class="page-item">
											<a class="page-link"
												th:href="'/brand?p='+${current - 6 > 0 ? current - 6 : 0} + '&brandname=' + ${name}">
												<i class="fa-solid fa-arrow-left"></i>
											</a>
										</li>
										<li class="page-item">
											<a class="page-link"
												th:href="'/brand?p='+${current + 6 > last + 2 ? last : current + 6} + '&brandname=' + ${name}">
												<i class="fa-solid fa-arrow-right"></i>
											</a>
										</li>
										<li class="page-item"><a class="page-link"
												th:href="'/brand?p=' + ${last} + '&brandname=' + ${name}">Last</a>
										</li>
									</ul>
								</nav>
							</div>
		
		<th:include th:fragment="stylesheets">
			<link rel="stylesheet" href="/css/oneBrand.css">
		</th:include>
	</section>
</body>

</html>